<h1>Confirm Subscription</h1>

<h2><a href="<%= confirm_link%>">Yes, subscribe me.</a></h2>

<p>If you received this email by mistake, delete it. You won't be subscribed if you don't click the confirmation link above.</p>

<p>For any question, contact <a href="mailto:<%= support_email%>"><%= support_email%></a>. </p>